{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
	<title>Hikury {% block title %}{% endblock %}</title>
	<link rel="canonical" href="http://hikury.com/{{post.slug}}/" />
	<link rel="shortcut icon" href="{% static 'image/favicon.png' %}">
	<meta name="author" content="Alex Zamora" />
	<meta name="description" content="HIKURY Agencia Digital con sede en Pachuca Hidalgo México, Crea experiencias online, Aplicaciones Web escalables, Páginas Web Responsive, Diseño Web, Tiendas Virtuales y Marketing Digital. Lo nuestro es internet" />
	<meta name="keywords"  content="Agencia Digital México,Agencia Digital, Sitios Web, Páginas Web Pachuca, Sitios Web Pachuca, Marketing Digital,Ecommerce, Diseño Web Pachuca, Páginas Web Cuautla, Diseño Web Cuautla" />
	<meta name="google-site-verification" content="kYWB6R0XZMPgoIzTA8WGuq9fu_Bmp-Q8EAk4XByscaU" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/css-responsive.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/obsidian.css' %}">
	
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<!-- Inserta esta etiqueta en la sección "head" o justo antes de la etiqueta "body" de cierre. -->
	<script src="https://apis.google.com/js/platform.js" async defer>
	  {lang: 'es'}
	</script>
</head>
<body>
<div class="header">
	<div id="icon-open" class="slideout-menu-toggle"><i class="fa fa-bars"></i></div>
</div>
<div class="slideout-menu">
	<div id="icon-closet" class="slideout-menu-toggle">
		<img src="{% static 'image/cerrar.png' %}" alt="télefono">
		<h2>Menu</h2>
	</div>
	<div id="head-menu">
		<div id="logo-menu">
			<a href="index.html">
				<img src="{{MEDIA_URL}}{{home.logo_menu}}" alt="hikury">
			</a>		
		</div>
	</div>
	<ul>
		<li><a href="{%url 'home'%}#inicio">Inicio</a></li>
		<li><a href="{%url 'home'%}#servicios">Servicios</a></li>
		<li><a href="{%url 'home'%}#proyectos">Proyectos</a></li>
		<li><a href="{%url 'blog_view'%}">Blog</a></li>		
		<li><a href="{%url 'contacto'%}">Contacto</a></li>
		<li><a href="{%url 'en_desarrollo'%}">Login</a></li>
	</ul>
	<div id="redes">
		<a href="#">
			<img src="{% static 'image/icon-face.png' %}" alt="Facebook Hikury México">
		</a>
		<a target="_blank" href="https://twitter.com/HikuryMexico">
		<img src="{% static 'image/icon-twitter.png' %}" alt="Twitter Hikury México">
		</a>
	</div>
	<div id="contacto-menu">
		<h3>Pachuca</h3>
		<h3>{{home.telephone}}</h3>
		<h3>Cuautla</h3>
		<h3>{{home.movil}}</h3>
		<h3>{{home.email}}</h3>
	</div>
</div>

{% block content %}
{% endblock %}

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66385501-1', 'auto');
  ga('send', 'pageview');

</script>
</html>